html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
:focus {outline:none;}
::-moz-focus-inner {border:0;}
body { background: #fff; line-height: 1; font-family: 'Source Sans Pro', Calibri, Arial, sans-serif; font-size: 12px; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: ""; }
.clearfix:after { clear: both; }
strong { font-weight: bold; }
em { font-style: italic; }

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('./image_1600.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlays {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.white-rays-top div:nth-child(1) {
  position: absolute;
  left: 50%;
  width: 0.5px;
  height: 300px;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  filter: blur(4px);
  transform-origin: top;
  opacity: 0;
  animation: rays1 20s linear 0.1s infinite;
  z-index: 2;
}
@keyframes rays1 {
  0% {
    transform: rotate(45deg) scaleX(4) scaleY(1);
    opacity: 0;
 }
  5% {
    opacity: 1;
 }
  10% {
    opacity: 0;
 }
  15% {
    opacity: 0;
 }
  20% {
    opacity: 1;
 }
  25% {
    transform: rotate(0deg) scaleX(2) scaleY(2);
    opacity: 0;
 }
  30% {
    opacity: 1;
 }
  35% {
    opacity: 1;
 }
  40% {
    opacity: 0;
 }
  45% {
    opacity: 0;
 }
  50% {
    transform: rotate(-45deg) scaleX(2) scaleY(3);
    opacity: 1;
 }
  55% {
    opacity: 1;
 }
  60% {
    opacity: 1;
 }
  65% {
    opacity: 0;
 }
  70% {
    opacity: 0;
 }
  75% {
    transform: rotate(-90deg) scaleX(3) scaleY(2);
    opacity: 0;
 }
  80% {
    opacity: 0;
 }
  85% {
    opacity: 1;
 }
  90% {
    opacity: 1;
 }
  95% {
    opacity: 1;
 }
  100% {
    transform: rotate(-135deg) scaleX(4) scaleY(1);
    opacity: 1;
 }
}
.white-rays-top div:nth-child(2) {
  position: absolute;
  left: 50%;
  width: 0.5px;
  height: 300px;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  filter: blur(4px);
  transform-origin: top;
  opacity: 0;
  animation: rays2 20s linear 4.1s infinite;
  z-index: 2;
}
@keyframes rays2 {
  0% {
    transform: rotate(45deg) scaleX(2) scaleY(1);
    opacity: 1;
 }
  5% {
    opacity: 0;
 }
  10% {
    opacity: 0;
 }
  15% {
    opacity: 0;
 }
  20% {
    opacity: 0;
 }
  25% {
    transform: rotate(0deg) scaleX(4) scaleY(2);
    opacity: 0;
 }
  30% {
    opacity: 0;
 }
  35% {
    opacity: 1;
 }
  40% {
    opacity: 1;
 }
  45% {
    opacity: 0;
 }
  50% {
    transform: rotate(-45deg) scaleX(8) scaleY(3);
    opacity: 0;
 }
  55% {
    opacity: 1;
 }
  60% {
    opacity: 0;
 }
  65% {
    opacity: 0;
 }
  70% {
    opacity: 1;
 }
  75% {
    transform: rotate(-90deg) scaleX(1) scaleY(2);
    opacity: 0;
 }
  80% {
    opacity: 1;
 }
  85% {
    opacity: 0;
 }
  90% {
    opacity: 0;
 }
  95% {
    opacity: 0;
 }
  100% {
    transform: rotate(-135deg) scaleX(5) scaleY(1);
    opacity: 1;
 }
}
.white-rays-top div:nth-child(3) {
  position: absolute;
  left: 50%;
  width: 0.5px;
  height: 300px;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  filter: blur(4px);
  transform-origin: top;
  opacity: 0;
  animation: rays3 20s linear 8.1s infinite;
  z-index: 2;
}
@keyframes rays3 {
  0% {
    transform: rotate(45deg) scaleX(3) scaleY(1);
    opacity: 1;
 }
  5% {
    opacity: 0;
 }
  10% {
    opacity: 0;
 }
  15% {
    opacity: 1;
 }
  20% {
    opacity: 1;
 }
  25% {
    transform: rotate(0deg) scaleX(5) scaleY(2);
    opacity: 0;
 }
  30% {
    opacity: 1;
 }
  35% {
    opacity: 0;
 }
  40% {
    opacity: 1;
 }
  45% {
    opacity: 0;
 }
  50% {
    transform: rotate(-45deg) scaleX(4) scaleY(3);
    opacity: 0;
 }
  55% {
    opacity: 1;
 }
  60% {
    opacity: 0;
 }
  65% {
    opacity: 0;
 }
  70% {
    opacity: 1;
 }
  75% {
    transform: rotate(-90deg) scaleX(2) scaleY(2);
    opacity: 1;
 }
  80% {
    opacity: 0;
 }
  85% {
    opacity: 0;
 }
  90% {
    opacity: 1;
 }
  95% {
    opacity: 1;
 }
  100% {
    transform: rotate(-135deg) scaleX(2) scaleY(1);
    opacity: 0;
 }
}
.white-rays-top div:nth-child(4) {
  position: absolute;
  left: 50%;
  width: 0.5px;
  height: 300px;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  filter: blur(4px);
  transform-origin: top;
  opacity: 0;
  animation: rays4 20s linear 12.1s infinite;
  z-index: 2;
}
@keyframes rays4 {
  0% {
    transform: rotate(45deg) scaleX(4) scaleY(1);
    opacity: 1;
 }
  5% {
    opacity: 1;
 }
  10% {
    opacity: 1;
 }
  15% {
    opacity: 1;
 }
  20% {
    opacity: 1;
 }
  25% {
    transform: rotate(0deg) scaleX(4) scaleY(2);
    opacity: 1;
 }
  30% {
    opacity: 1;
 }
  35% {
    opacity: 1;
 }
  40% {
    opacity: 1;
 }
  45% {
    opacity: 1;
 }
  50% {
    transform: rotate(-45deg) scaleX(8) scaleY(3);
    opacity: 1;
 }
  55% {
    opacity: 0;
 }
  60% {
    opacity: 0;
 }
  65% {
    opacity: 0;
 }
  70% {
    opacity: 0;
 }
  75% {
    transform: rotate(-90deg) scaleX(1) scaleY(2);
    opacity: 1;
 }
  80% {
    opacity: 0;
 }
  85% {
    opacity: 0;
 }
  90% {
    opacity: 0;
 }
  95% {
    opacity: 1;
 }
  100% {
    transform: rotate(-135deg) scaleX(2) scaleY(1);
    opacity: 1;
 }
}
.white-rays-top div:nth-child(5) {
  position: absolute;
  left: 50%;
  width: 0.5px;
  height: 300px;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  filter: blur(4px);
  transform-origin: top;
  opacity: 0;
  animation: rays5 20s linear 16.1s infinite;
  z-index: 2;
}
@keyframes rays5 {
  0% {
    transform: rotate(45deg) scaleX(5) scaleY(1);
    opacity: 1;
 }
  5% {
    opacity: 1;
 }
  10% {
    opacity: 0;
 }
  15% {
    opacity: 1;
 }
  20% {
    opacity: 0;
 }
  25% {
    transform: rotate(0deg) scaleX(3) scaleY(2);
    opacity: 1;
 }
  30% {
    opacity: 0;
 }
  35% {
    opacity: 1;
 }
  40% {
    opacity: 0;
 }
  45% {
    opacity: 0;
 }
  50% {
    transform: rotate(-45deg) scaleX(8) scaleY(3);
    opacity: 0;
 }
  55% {
    opacity: 1;
 }
  60% {
    opacity: 0;
 }
  65% {
    opacity: 1;
 }
  70% {
    opacity: 0;
 }
  75% {
    transform: rotate(-90deg) scaleX(7) scaleY(2);
    opacity: 1;
 }
  80% {
    opacity: 1;
 }
  85% {
    opacity: 0;
 }
  90% {
    opacity: 1;
 }
  95% {
    opacity: 1;
 }
  100% {
    transform: rotate(-135deg) scaleX(2) scaleY(1);
    opacity: 1;
 }
}
.white-rays-top div:nth-child(6) {
  position: absolute;
  left: 50%;
  width: 0.5px;
  height: 300px;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  filter: blur(4px);
  transform-origin: top;
  opacity: 0;
  animation: rays6 20s linear 20.1s infinite;
  z-index: 2;
}
@keyframes rays6 {
  0% {
    transform: rotate(45deg) scaleX(4) scaleY(1);
    opacity: 1;
 }
  5% {
    opacity: 1;
 }
  10% {
    opacity: 1;
 }
  15% {
    opacity: 0;
 }
  20% {
    opacity: 1;
 }
  25% {
    transform: rotate(0deg) scaleX(4) scaleY(2);
    opacity: 0;
 }
  30% {
    opacity: 1;
 }
  35% {
    opacity: 1;
 }
  40% {
    opacity: 1;
 }
  45% {
    opacity: 1;
 }
  50% {
    transform: rotate(-45deg) scaleX(7) scaleY(3);
    opacity: 1;
 }
  55% {
    opacity: 0;
 }
  60% {
    opacity: 1;
 }
  65% {
    opacity: 1;
 }
  70% {
    opacity: 1;
 }
  75% {
    transform: rotate(-90deg) scaleX(3) scaleY(2);
    opacity: 0;
 }
  80% {
    opacity: 1;
 }
  85% {
    opacity: 0;
 }
  90% {
    opacity: 0;
 }
  95% {
    opacity: 0;
 }
  100% {
    transform: rotate(-135deg) scaleX(4) scaleY(1);
    opacity: 0;
 }
}
.white-rays-top div:nth-child(7) {
  position: absolute;
  left: 50%;
  width: 0.5px;
  height: 300px;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  filter: blur(4px);
  transform-origin: top;
  opacity: 0;
  animation: rays7 20s linear 24.1s infinite;
  z-index: 2;
}
@keyframes rays7 {
  0% {
    transform: rotate(45deg) scaleX(4) scaleY(1);
    opacity: 1;
 }
  5% {
    opacity: 1;
 }
  10% {
    opacity: 1;
 }
  15% {
    opacity: 0;
 }
  20% {
    opacity: 0;
 }
  25% {
    transform: rotate(0deg) scaleX(1) scaleY(2);
    opacity: 0;
 }
  30% {
    opacity: 1;
 }
  35% {
    opacity: 1;
 }
  40% {
    opacity: 1;
 }
  45% {
    opacity: 0;
 }
  50% {
    transform: rotate(-45deg) scaleX(6) scaleY(3);
    opacity: 0;
 }
  55% {
    opacity: 0;
 }
  60% {
    opacity: 1;
 }
  65% {
    opacity: 1;
 }
  70% {
    opacity: 0;
 }
  75% {
    transform: rotate(-90deg) scaleX(1) scaleY(2);
    opacity: 0;
 }
  80% {
    opacity: 0;
 }
  85% {
    opacity: 1;
 }
  90% {
    opacity: 1;
 }
  95% {
    opacity: 1;
 }
  100% {
    transform: rotate(-135deg) scaleX(1) scaleY(1);
    opacity: 0;
 }
}
.white-rays-top div:nth-child(8) {
  position: absolute;
  left: 50%;
  width: 0.5px;
  height: 300px;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  filter: blur(4px);
  transform-origin: top;
  opacity: 0;
  animation: rays8 20s linear 28.1s infinite;
  z-index: 2;
}
@keyframes rays8 {
  0% {
    transform: rotate(45deg) scaleX(4) scaleY(1);
    opacity: 1;
 }
  5% {
    opacity: 0;
 }
  10% {
    opacity: 1;
 }
  15% {
    opacity: 0;
 }
  20% {
    opacity: 0;
 }
  25% {
    transform: rotate(0deg) scaleX(3) scaleY(2);
    opacity: 0;
 }
  30% {
    opacity: 0;
 }
  35% {
    opacity: 0;
 }
  40% {
    opacity: 0;
 }
  45% {
    opacity: 0;
 }
  50% {
    transform: rotate(-45deg) scaleX(5) scaleY(3);
    opacity: 0;
 }
  55% {
    opacity: 0;
 }
  60% {
    opacity: 1;
 }
  65% {
    opacity: 0;
 }
  70% {
    opacity: 0;
 }
  75% {
    transform: rotate(-90deg) scaleX(1) scaleY(2);
    opacity: 1;
 }
  80% {
    opacity: 1;
 }
  85% {
    opacity: 0;
 }
  90% {
    opacity: 1;
 }
  95% {
    opacity: 0;
 }
  100% {
    transform: rotate(-135deg) scaleX(4) scaleY(1);
    opacity: 0;
 }
}
.white-rays-top div:nth-child(9) {
  position: absolute;
  left: 50%;
  width: 0.5px;
  height: 300px;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  filter: blur(4px);
  transform-origin: top;
  opacity: 0;
  animation: rays9 20s linear 32.1s infinite;
  z-index: 2;
}
@keyframes rays9 {
  0% {
    transform: rotate(45deg) scaleX(2) scaleY(1);
    opacity: 1;
 }
  5% {
    opacity: 1;
 }
  10% {
    opacity: 1;
 }
  15% {
    opacity: 0;
 }
  20% {
    opacity: 0;
 }
  25% {
    transform: rotate(0deg) scaleX(6) scaleY(2);
    opacity: 1;
 }
  30% {
    opacity: 0;
 }
  35% {
    opacity: 0;
 }
  40% {
    opacity: 0;
 }
  45% {
    opacity: 0;
 }
  50% {
    transform: rotate(-45deg) scaleX(2) scaleY(3);
    opacity: 0;
 }
  55% {
    opacity: 1;
 }
  60% {
    opacity: 0;
 }
  65% {
    opacity: 0;
 }
  70% {
    opacity: 1;
 }
  75% {
    transform: rotate(-90deg) scaleX(7) scaleY(2);
    opacity: 0;
 }
  80% {
    opacity: 1;
 }
  85% {
    opacity: 1;
 }
  90% {
    opacity: 1;
 }
  95% {
    opacity: 1;
 }
  100% {
    transform: rotate(-135deg) scaleX(5) scaleY(1);
    opacity: 1;
 }
}
.white-rays-top div:nth-child(10) {
  position: absolute;
  left: 50%;
  width: 0.5px;
  height: 300px;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  filter: blur(4px);
  transform-origin: top;
  opacity: 0;
  animation: rays10 20s linear 36.1s infinite;
  z-index: 2;
}
@keyframes rays10 {
  0% {
    transform: rotate(45deg) scaleX(3) scaleY(1);
    opacity: 0;
 }
  5% {
    opacity: 1;
 }
  10% {
    opacity: 1;
 }
  15% {
    opacity: 1;
 }
  20% {
    opacity: 0;
 }
  25% {
    transform: rotate(0deg) scaleX(3) scaleY(2);
    opacity: 1;
 }
  30% {
    opacity: 0;
 }
  35% {
    opacity: 1;
 }
  40% {
    opacity: 1;
 }
  45% {
    opacity: 1;
 }
  50% {
    transform: rotate(-45deg) scaleX(9) scaleY(3);
    opacity: 1;
 }
  55% {
    opacity: 0;
 }
  60% {
    opacity: 1;
 }
  65% {
    opacity: 0;
 }
  70% {
    opacity: 0;
 }
  75% {
    transform: rotate(-90deg) scaleX(5) scaleY(2);
    opacity: 0;
 }
  80% {
    opacity: 1;
 }
  85% {
    opacity: 0;
 }
  90% {
    opacity: 1;
 }
  95% {
    opacity: 1;
 }
  100% {
    transform: rotate(-135deg) scaleX(4) scaleY(1);
    opacity: 1;
 }
}
